.blink-yellow {
    animation: blinker 1s linear;
}

@keyframes blinker {
    50% {
        opacity: 20;
        background: yellow;
    }
}

.blink-green {
    animation: green-blinker 2s linear;
}

@keyframes green-blinker {
    50% {
        opacity: 20;
        background: green;
    }
}

.dynamic-button {
    width: 30px;
    height: 30px;
  overflow: hidden;
  white-space: nowrap;
  margin: 1px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}
